* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.nav {
  font-family: "Roboto", sans-serif;
}

.background-nav {
  background-color: white;
}

.container {
  max-width: 1440px;
  padding: 0 5%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 106px;
  max-height: 117px;
}

.ul li img {
  max-width: 67px;
  max-height: 67px;
}

.ul {
  display: flex;
  align-items: center;
}

.ul li {
  margin: 0 35px;
  font-size: 15px;
  color: white;
}

.ul li a {
   color: black;
}
